snippet frac
        frac{${1}}{${0}}
snippet mi
        $${0}$
snippet ma
        \[
        ${0}
        \]
snippet boil
        \documentclass[class=book]{standalone}
        \usepackage{amsmath,amssymb,amsfont}

        \begin{document}
            ${0}
        \end{document}
